# MongoDB Configuration
MONGODB_URL=mongodb+srv://sanchit:sanchit123@cluster0.wdorp9f.mongodb.net/
DATABASE_NAME=jusfinn

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID="581557555470-mq47gdjjn1a79auusu23pm532562kv8d.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# JWT Configuration
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Server Configuration
HOST=0.0.0.0
PORT=8000 